:root {
  font-family: Arial, Helvetica, sans-serif;
}

/* input:invalid {
  -webkit-appearance: none;
  box-shadow: 0 0 1px 1px #EF6464;
} */

.form-group {
  margin: 0.5rem;
}

button {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.2rem solid #fff;
  color: #0011fb;
  font-size: 2rem;
}

button:hover {
  border-bottom: 0.2rem solid #0011fb;
}

.error {
  display: inline-block;
  font-size: 0.8rem;
  font-style: italic;
  color: #EF6464;
  padding: 0.5rem;
}