:root {
  /* font */
  font-size: 16px;
  font-family: Helvetica, arial, sans-serif;

  /* colors */
  --alert: rgb(208, 79, 79);
  --action-space: rgb(213, 230, 238);
  --submit-primary: rgb(12, 12, 245);
  --submit-hover: rgb(34, 59, 255);
  --neutral-dark: rgb(60, 60, 60);

  /* margins & padding */
  --input-padding: 0.15rem 0.4rem;
  --form-group-margin: 0.3rem;
}

/* resets */
* { margin: 0; padding: 0; }
ul, ol, li { list-style: none; }


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: flex-end;
  border: 2px solid black;
  border-radius: 0.6rem;
  padding: 2rem;
}

.form-header {
  text-transform: uppercase;
  margin: 0.15rem 0.2rem 1rem 0.2rem;
}

.form-group {
  margin: var(--form-group-margin);
  width: 100%;
  text-align: right;
  display: inline-block;
}

input {
  height: 2rem;
  width: 20rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  background-color: var(--action-space);
  border-bottom: 2px solid var(--neutral-dark);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  padding: var(--input-padding);
}

input:focus {
  border: 2px solid var(--neutral-dark);
}

label {
  width: 10rem;
}

.submit {
  width: min-content;
  justify-self: end;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--submit-primary);
  color: white;
  font-size: 1.15rem;
}

.submit:hover {
  background-color: var(--submit-hover);
  cursor: pointer;
}

.error {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--alert);
  padding: 0.30rem;
  height: 1.15rem;
}

@media screen and (max-width: 600px) {

  form {
    max-width: 70vw;
  }

  form > div {
    width: 100%;
    padding: 0 0.45rem;
  }
  
  label {
    text-align: left;
    display: block;
    width: 100%;
    padding: 0.4rem 0;
  }

  input {
    width: 100%;
  }

}